/* css = cascading style sheet */
/* Override a tag's presets by entering its name */


/* get fonts */
@font-face {
    /* font family is the name */
    font-family: Charbb;
    src: url(fonts/charbb_reg.otf);
}
@font-face {
    font-family: Party;
    src: url(fonts/PartyDayDemoRegular.ttf);
}
@font-face {
    font-family: Roots;
    src: url(fonts/THEROOTS.TTF);
}

* {
    /* the universal selector changes all tags */
    margin: 0px;
    padding: 0px;
}

/* body formatting */
body {
    background-color: rgb(142, 255, 142);
    font-family: Charbb;
    font-size: 10px;
}

/* paragraph formatting */
p {
    color: rgb(255, 255, 255);
    font-family: Charbb;
    margin: 50px;
}

/* heaading 1 formatting */
h1 {
    color: rgb(255, 255, 255);
    font-family: Roots;
    padding-right: 1000px;
    margin: 123px;
}

/* link formatting */
a:link, a:visited {
    color: rgb(12, 38, 94);
    text-decoration: none;
    margin: 213px;
}
a:hover {
    color: rgb(77, 118, 175);
    text-decoration: overline;
}

/* classes are used to style individual tags. They start with a period (.) */
.caption {
    color:rgb(162, 115, 45);
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}

.container {
    display: grid;
    grid-template-columns: 80% 20%; 
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  */
    padding:10px;
    margin: 10px;
    font-size: 20px;
}

.main-content {
    background-color:red;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    border: 20px dashed cornflowerblue;
    /* width: 1000px; */
}

.secondary-content {
    background-color: fuchsia;
    padding:3px;
    margin: 10px;
    border-radius: 123px;
}

.main-content p {
    color:chartreuse;
    padding: 2px;
    margin: 12px;
}

.secondary-content p {
    color:blue;
    padding: 12px;
    margin: 30px;
    margin-top: 40px;
}

.main-content img {
    width: 100%;
    /* height: 10000px; */
}